<section class="about container">
    <h1 class="s text-center mb-5">About</h1>
    <div class="card mx-auto" style="width: 18rem;">
        <img src="../../assets/test.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Founder & CEO</h5>
          <p class="card-text">We Provide Best home tutor in your City. Start Learning with us and Improve your Result</p>
          <a href="tel:8858539508" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <br><br><br>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>