.navbar
{
    background-color: rgb(88, 194, 236);
}
.navbar-light .navbar-nav .nav-link
{
    color: #000000;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}
.footer{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;

}